/* CSS Reset 
https://www.joshwcomeau.com/css/custom-css-reset/ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* root */
:root {
  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #649fed;
  --clr-primary-a10: #79a9ef;
  --clr-primary-a20: #8cb3f1;
  --clr-primary-a30: #9ebef4;
  --clr-primary-a40: #afc8f6;
  --clr-primary-a50: #bfd3f8;

  /** Theme surface colors */
  --clr-surface-a0: #1b1e24;
  --clr-surface-a10: #303338;
  --clr-surface-a20: #46494e;
  --clr-surface-a30: #5e6065;
  --clr-surface-a40: #77797d;
  --clr-surface-a50: #909295;

  /** Success colors */
  --clr-success-a0: #22946e;
  --clr-success-a10: #47d5a6;
  --clr-success-a20: #9ae8ce;

  /** Warning colors */
  --clr-warning-a0: #a87a2a;
  --clr-warning-a10: #d7ac61;
  --clr-warning-a20: #ecd7b2;

  /** Danger colors */
  --clr-danger-a0: #9c2121;
  --clr-danger-a10: #d94a4a;
  --clr-danger-a20: #eb9e9e;

  /* Ship colors */
  --clr-not-hit-bg: #123a2b;
  --clr-not-hit-border: lime;
  --clr-hit-bg: #ff3030;
  --clr-sunk-bg: darkred;
  --clr-sunk-border: red;

  /* Square size */
  --sz-square: 32px;
}

/* body */
body {
  display: flex;
  justify-content: center;
  background-color: var(--clr-surface-a0);
  color: var(--clr-light-a0);
}

/* gameboard */
.grid-container {
  display: grid;
  grid-template: 32px repeat(10, var(--sz-square)) / repeat(
      10,
      var(--sz-square)
    );
  gap: 1px;
  background-color: var(--clr-surface-a20);
  margin: 16px 8px;
  padding: 1px;
}

.turn-indicator {
  grid-area: 1 / 1 / 2 / 11;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-surface-a0);
  font-family: "Courier New", Courier, monospace;
}

.square {
  background-color: var(--clr-surface-a0);
  width: var(--sz-square);
  height: var(--sz-square);
}

.not-hit {
  background-color: var(--clr-not-hit-bg);
}

.not-hit.vertical {
  border-right: 3px solid var(--clr-not-hit-border);
  border-left: 3px solid var(--clr-not-hit-border);
}

.not-hit.horizontal {
  border-top: 3px solid var(--clr-not-hit-border);
  border-bottom: 3px solid var(--clr-not-hit-border);
}

.miss {
  background-color: var(--clr-surface-a10);
}

.hit {
  background-color: var(--clr-hit-bg);
}

#human-grid-container .horizontal.hit {
  border-top: 3px solid var(--clr-not-hit-border);
  border-bottom: 3px solid var(--clr-not-hit-border);
}

.sunk {
  background-color: var(--clr-sunk-bg);
}

.sunk.vertical {
  border-right: 3px solid var(--clr-sunk-border);
  border-left: 3px solid var(--clr-sunk-border);
}

.sunk.horizontal {
  border-top: 3px solid var(--clr-sunk-border);
  border-bottom: 3px solid var(--clr-sunk-border);
}

/* carrier (vertical) */
#human-grid-container :nth-child(1 of .carrier.vertical) {
  border-top: 3px solid var(--clr-not-hit-border);
}

#human-grid-container :nth-child(5 of .carrier.vertical) {
  border-bottom: 3px solid var(--clr-not-hit-border);
}

#cpu-grid-container :nth-child(1 of .carrier.vertical) {
  border-top: 3px solid var(--clr-sunk-border);
}

#cpu-grid-container :nth-child(5 of .carrier.vertical) {
  border-bottom: 3px solid var(--clr-sunk-border);
}
/* carrier (horizontal) */
#human-grid-container :nth-child(1 of .carrier.horizontal) {
  border-left: 3px solid var(--clr-not-hit-border);
}

#human-grid-container :nth-child(5 of .carrier.horizontal) {
  border-right: 3px solid var(--clr-not-hit-border);
}

#cpu-grid-container :nth-child(1 of .carrier.horizontal) {
  border-left: 3px solid var(--clr-sunk-border);
}

#cpu-grid-container :nth-child(5 of .carrier.horizontal) {
  border-right: 3px solid var(--clr-sunk-border);
}

/* battleship (vertical) */
#human-grid-container :nth-child(1 of .battleship.vertical) {
  border-top: 3px solid var(--clr-not-hit-border);
}

#human-grid-container :nth-child(4 of .battleship.vertical) {
  border-bottom: 3px solid var(--clr-not-hit-border);
}

#cpu-grid-container :nth-child(1 of .battleship.vertical) {
  border-top: 3px solid var(--clr-sunk-border);
}

#cpu-grid-container :nth-child(4 of .battleship.vertical) {
  border-bottom: 3px solid var(--clr-sunk-border);
}
/* battleship (horizontal) */
#human-grid-container :nth-child(1 of .battleship.horizontal) {
  border-left: 3px solid var(--clr-not-hit-border);
}

#human-grid-container :nth-child(4 of .battleship.horizontal) {
  border-right: 3px solid var(--clr-not-hit-border);
}

#cpu-grid-container :nth-child(1 of .battleship.horizontal) {
  border-left: 3px solid var(--clr-sunk-border);
}

#cpu-grid-container :nth-child(4 of .battleship.horizontal) {
  border-right: 3px solid var(--clr-sunk-border);
}

/* destroyer (vertical) */
#human-grid-container :nth-child(1 of .destroyer.vertical) {
  border-top: 3px solid var(--clr-not-hit-border);
}

#human-grid-container :nth-child(3 of .destroyer.vertical) {
  border-bottom: 3px solid var(--clr-not-hit-border);
}

#cpu-grid-container :nth-child(1 of .destroyer.vertical) {
  border-top: 3px solid var(--clr-sunk-border);
}

#cpu-grid-container :nth-child(3 of .destroyer.vertical) {
  border-bottom: 3px solid var(--clr-sunk-border);
}
/* destroyer (horizontal) */
#human-grid-container :nth-child(1 of .destroyer.horizontal) {
  border-left: 3px solid var(--clr-not-hit-border);
}

#human-grid-container :nth-child(3 of .destroyer.horizontal) {
  border-right: 3px solid var(--clr-not-hit-border);
}

#cpu-grid-container :nth-child(1 of .destroyer.horizontal) {
  border-left: 3px solid var(--clr-sunk-border);
}

#cpu-grid-container :nth-child(3 of .destroyer.horizontal) {
  border-bottom: 3px solid var(--clr-sunk-border);
}

/* submarine (vertical) */
#human-grid-container :nth-child(1 of .submarine.vertical) {
  border-top: 3px solid var(--clr-not-hit-border);
}

#human-grid-container :nth-child(3 of .submarine.vertical) {
  border-bottom: 3px solid var(--clr-not-hit-border);
}

#cpu-grid-container :nth-child(1 of .submarine.vertical) {
  border-top: 3px solid var(--clr-sunk-border);
}

#cpu-grid-container :nth-child(3 of .submarine.vertical) {
  border-bottom: 3px solid var(--clr-sunk-border);
}
/* submarine (horizontal) */
#human-grid-container :nth-child(1 of .submarine.horizontal) {
  border-left: 3px solid var(--clr-not-hit-border);
}

#human-grid-container :nth-child(3 of .submarine.horizontal) {
  border-right: 3px solid var(--clr-not-hit-border);
}

#cpu-grid-container :nth-child(1 of .submarine.horizontal) {
  border-left: 3px solid var(--clr-sunk-border);
}

#cpu-grid-container :nth-child(3 of .submarine.horizontal) {
  border-right: 3px solid var(--clr-sunk-border);
}

/* patrol-boat (vertical) */
#human-grid-container :nth-child(1 of .patrol-boat.vertical) {
  border-top: 3px solid var(--clr-not-hit-border);
}

#human-grid-container :nth-child(2 of .patrol-boat.vertical) {
  border-bottom: 3px solid var(--clr-not-hit-border);
}

#cpu-grid-container :nth-child(1 of .patrol-boat.vertical) {
  border-top: 3px solid var(--clr-sunk-border);
}

#cpu-grid-container :nth-child(2 of .patrol-boat.vertical) {
  border-bottom: 3px solid var(--clr-sunk-border);
}
/* patrol-boat (horizontal) */
#human-grid-container :nth-child(1 of .patrol-boat.horizontal) {
  border-left: 3px solid var(--clr-not-hit-border);
}

#human-grid-container :nth-child(2 of .patrol-boat.horizontal) {
  border-right: 3px solid var(--clr-not-hit-border);
}

#cpu-grid-container :nth-child(1 of .patrol-boat.horizontal) {
  border-left: 3px solid var(--clr-sunk-border);
}

#cpu-grid-container :nth-child(2 of .patrol-boat.horizontal) {
  border-right: 3px solid var(--clr-sunk-border);
}
